<nb-card>
    <nb-card-header>
        CONSULTA DE REGISTROS
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                formControlName="alias"
                                class="form-control"
                                placeholder="Alias fuerte"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                formControlName="document"
                                class="form-control"
                                placeholder="Número Identificación"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                formControlName="entity"
                                class="form-control"
                                placeholder="Entidad"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <nb-select
                                id="listTypeId"
                                formControlName="listTypeId"
                                *ngIf="listFilter != null"
                                fullWidth>
                            <nb-option value="" disabled>Listas</nb-option>
                            <nb-option *ngFor="let item of listFilter?.listTypes"
                                       [value]="item.id">{{item.name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                class="form-control"
                                placeholder="Fecha creación/actualización"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                class="form-control"
                                placeholder="AQUI VA RANGO FECHAS"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                class="form-control"
                                placeholder="ID de registro"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <nb-select
                                id="userId"
                                formControlName="userId"
                                *ngIf="listFilter != null"
                                fullWidth>
                            <nb-option value="" disabled>Usuario que registró</nb-option>
                            <nb-option *ngFor="let item of listFilter?.users"
                                       [value]="item.id">{{item.name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                formControlName="source"
                                class="form-control"
                                placeholder="Fuente"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input
                                nbInput
                                fullWidth
                                formControlName="zone"
                                class="form-control"
                                placeholder="Zona"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <nb-select
                                id="activated"
                                selected=""
                                formControlName="activated"
                                *ngIf="listFilter != null"
                                fullWidth>
                            <nb-option value="" disabled>Estado</nb-option>
                            <nb-option [value]="true">Activo</nb-option>
                            <nb-option [value]="false">Inactivo</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <nb-select
                                id="validationStatus"
                                placeholder="Estado"
                                formControlName="validated"
                                fullWidth>
                            <nb-option value="">Estado validado</nb-option>
                            <nb-option value="true">VALIDADO</nb-option>
                            <nb-option value="false">NO VALIDADO</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <button
                    (click)="search()"
                    class="align-self-center"
                    status="primary"
                    nbButton
                    nbSuffix>
                BUSCAR
            </button>
            <button class="ml-4"
                    nbButton
                    hero>
                CANCELAR
            </button>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
        ADMINISTRAR REGISTROS DE LISTAS
    </nb-card-header>

    <nb-card-body>
        <div class="row mb-3">
            <div class="col-md-1">
                <button (click)="onCreate()" status="primary" nbButton nbSuffix>Agregar</button>
            </div>
        </div>

        <ng2-smart-table class="example-smart-table"
                         [settings]="settings"
                         [source]="dataSource">
        </ng2-smart-table>

    </nb-card-body>
</nb-card>
